backports.zoneinfo
cached-property
certifi
cffi
charset-normalizer
cryptography
defusedxml
dnspython
exchangelib
idna
isodate
lxml
ntlm-auth
oauthlib
pycparser
Pygments
pytz
requests
requests-ntlm
requests-oauthlib
setuptools
six
tzdata
tzlocal
urllib3
wheel
